### Java ###
*.class

# Package Files #
*.war
*.ear

### Gradle ###
# Exclude Fordel List #
build/

# POT-specific
.buildpath

### IntelliJ IDEA ###
*.iml
*.ipr
*.iws
.idea/

/.gradle

/bin

.DS_Store